<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<p>Filter Part One:</p>
		<form action="/filter" method="POST">
			{% csrf_token %}
		<select name="views">
			<option value="0">All leagues, teams, and players</option>
		   <option value="1">baseball leagues</option>
		   <option value="2">womens' leagues</option>
		   <option value="3">leagues where sport is any type of hockey</option>
		   <option value="4">leagues where sport is something OTHER THAN football</option>
			<option value="5">leagues that call themselves "conferences"</option>
		   <option value="6">leagues in the Atlantic region</option>
		   <option value="7">teams based in Dallas</option>
		   <option value="8">teams named the Raptors</option>
			<option value="9">teams whose location includes "City"</option>
		   <option value="10">teams whose names begin with "T"</option>
		   <option value="11">teams, ordered alphabetically by location</option>
		   <option value="12">teams, ordered by team name in reverse alphabetical order</option>
			<option value="13">every player with last name "Cooper"</option>
		   <option value="14">every player with first name "Joshua"</option>
		   <option value="15">every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</option>
		   <option value="16">all players with first name "Alexander" OR first name "Wyatt"</option>
		</select>
		<input type="submit" value="Submit">
		</form>

		<p>Filter Part Two:</p>
		<form action="/filter" method="POST">
			{% csrf_token %}
		<select name="views">
			<option value="17">all teams in the Atlantic Soccer Conference</option>
		   <option value="18">all (current) players on the Boston Penguins</option>
		   <option value="19">.all (current) players in the International Collegiate Baseball Conference</option>
		   <option value="20">all (current) players in the American Conference of Amateur Football with last name "Lopez"</option>
		   <option value="21">all football players</option>
			<option value="22">all teams with a (current) player named "Sophia"</option>
		   <option value="23">all leagues with a (current) player named "Sophia"</option>
		   <option value="24">everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</option>
		   <option value="25">all teams, past and present, that Samuel Evans has played with</option>
			<option value="26">all players, past and present, with the Manitoba Tiger-Cats</option>
		   <option value="27">all players who were formerly (but aren't currently) with the Wichita Vikings</option>
		   <option value="28">every team that Jacob Gray played for before he joined the Oregon Colts</option>
		   <option value="29">everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players</option>
			<option value="30">all teams that have had 12 or more players, past and present. (HINT: Look up the Django annotate function.)</option>
		   <option value="31">all players and count of teams played for, sorted by the number of teams they've played for</option>
		</select>
		<input type="submit" value="Submit">
		</form>

		{% if leagues %}
		<h1>Leagues</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% endfor %}
		</ol>
		{% endif %}
		{% if teams %}
		<h1>Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>
		{% endif %}
		{% if players %}
		<h1>Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>
		{% endif %}
	</body>
</html>
